{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <h3>{{ 'Register yourself' | trans }}</h3>
    </div>
    <div class="col-sm-12">
{{ form_start(form) }}
{{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr':{'class':'form-control'}}) }}
        {{ form_help(form.username) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
        {{ form_help(form.email) }}
    </div>
    <div class="form-group">
            {{ form_widget(form.isActive, {'attr':{'value': 1}}) }}
            {{ form_help(form.isActive) }}
    </div>
    <div class="form-group">
        {{ form_label(form.gender) }}
        {{ form_errors(form.gender) }}
        {{ form_widget(form.gender, {'attr':{'class':'form-control'}}) }}
        {{ form_help(form.gender) }}
    </div>
    <div class="form-group">
        {{ form_label(form.userage) }}
        {{ form_errors(form.userage) }}
        {{ form_widget(form.userage, {'attr':{'class':'form-control'}}) }}
        {{ form_help(form.userage) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control'}}) }}
        {{ form_help(form.plainPassword.first) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control'}}) }}
        {{ form_help(form.plainPassword.second) }}
    </div>
    <button type="submit" class="btn btn-primary">{{ 'Register!' | trans }}</button>
{{ form_end(form) }}
    </div>
    <div class="col-sm-12" id="RegisterLinkCover">
        {{ 'Have an account?' | trans }}<a href="{{ path('login')  }}"> <span id="LoginLink">{{ 'LoginLink' | trans }}</span></a>
    </div>
{% endblock %}