{% extends 'base.html.twig' %}

{% block title %}Blogresponse index{% endblock %}

{% block body %}
    <h1>Blogresponse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Blog_id</th>
                <th>Text</th>
                <th>Date</th>
                <th>Username</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blogresponse in blogresponses %}
            <tr>
                <td>{{ blogresponse.id }}</td>
                <td>{{ blogresponse.blogId }}</td>
                <td>{{ blogresponse.text }}</td>
                <td>{{ blogresponse.date ? blogresponse.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ blogresponse.username }}</td>
                <td>
                    <a href="{{ path('blogresponse_show', {'id': blogresponse.id}) }}">show</a>
                    <a href="{{ path('blogresponse_edit', {'id': blogresponse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blogresponse_new') }}">Create new</a>
{% endblock %}
