{% extends 'base_oneside.html.twig' %}

{% block title %}{{ 'Blogresponse index' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Blogresponse index' | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'blogId' | trans }}</th>
                <th>{{ 'Text' | trans }}</th>
                <th>{{ 'Date' | trans }}</th>
                <th>{{ 'User response' | trans }}</th>
                <th>{#{{ 'actions' | trans }}#}</th>
            </tr>
        </thead>
        <tbody>
        {% for blogresponse in blogresponses %}
            <tr>
                <td><a href="{{ path('blog_show', {'id': blogresponse.blogId}) }}">{{ blogresponse.blogTitle }}</a></td>
                <td>{{ blogresponse.message }}</td>
                <td>{{ blogresponse.date ? blogresponse.date|date('Y-m-d H:i:s') : '' }}</td>
                <td><a href="{{ path('user_show', {'id': blogresponse.userId}) }}">{{ blogresponse.user }}</a></td>
                <td>
                    <a href="{{ path('blogresponse_show', {'id': blogresponse.blogId}) }}">{{ 'show' | trans }}</a>
                    <a href="{{ path('blogresponse_edit', {'id': blogresponse.blogId}) }}">{{ 'edit' | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'no records found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   {# <a href="{{ path('blogresponse_new') }}">{{ 'Create new' | trans }}</a>#}
{% endblock %}
