{% extends 'base_oneside.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>{{ 'Blogresponse' | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blogresponse.id }}</td>
            </tr>
            <tr>
                <th>{{ 'blogName' | trans }}</th>
                <td><a href="{{ path('blog_show', {'id':blogresponse.blogId}) }}">{{ blogresponse.blogName }}</a></td>
            </tr>
            <tr>
                <th>{{ 'blogText' | trans }}</th>
                <td>{{ blogresponse.text }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ blogresponse.time ? blogresponse.time|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td><a href="{{ path('user_show', {'id':blogresponse.userId}) }}">{{ blogresponse.userName }}</a></td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary floatBtn" href="{{ path('blogresponse_index') }}">{{ 'back to list' | trans}}</a>

{#    <a class="btn btn-primary floatBtn" href="{{ path('blogresponse_edit', {'id': blogresponse.id}) }}">{{ 'edit' | trans}}</a>#}

    {{ include('blogresponse/_delete_form.html.twig') }}
{% endblock %}
