{% extends 'base.html.twig' %}

{% block title %}LogRoutes{% endblock %}

{% block body %}
    <h1>LogRoutes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ log_route.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ log_route.date ? log_route.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Request_type</th>
                <td>{{ log_route.requestType }}</td>
            </tr>
            <tr>
                <th>Page</th>
                <td>{{ log_route.page }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('log_routes_index') }}">back to list</a>

    <a href="{{ path('log_routes_edit', {'id': log_route.id}) }}">edit</a>

    {{ include('log_routes/_delete_form.html.twig') }}
{% endblock %}
