{% extends 'base_oneside.html.twig' %}

{% block title %}{{ 'Edit Blog' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Blog' | trans }}</h1>

    {{ include('blog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('blog_index_admin') }}">back to list</a>

    {{ include('blog/_delete_form.html.twig') }}
{% endblock %}
