{% extends 'baseadd.html.twig' %}

{% block title %}{{ 'Blog index' | trans }}{% endblock %}

{% block body %}

 <div id="rowFlex">
        {% for blog in pagination %}
            {% if loop.index0 == 0 or loop.index0 == 3  %}
                <div class="column">
            {% endif %}
            <!--div class="col-md-6 col-sm-12"-->
            <div class="blog-entry ftco-animate">
                <a href="{{  path('blog_show', {'id': blog.id}) }}" class="blog-image">
                    <img src='{{ asset("images/" ~ blog.image  ) }}' class="img-fluid" alt="">
                </a>
                <div class="text py-4">
                    <div class="meta">
                        <div><a href="#">{{ blog.dateCreate ? blog.dateCreate|date('Y-m-d') : '' }}</a></div>
                        <div><a href="#">{{ blog.author }}</a></div>
                    </div>
                    <h3 class="heading"><a href="{{ path('blog_show', {'id': blog.id}) }}">{{ blog.title }}</a></h3>
                    <p>{{ blog.description }}</p>
                </div>
            </div>
            {% if loop.index0 == 2 or loop.index0 == 5 or loop.index0 == (loop.length-1) %}
               </div>
            {% endif %}
            <!--/div-->
        {% else %}
                {{ 'no records found' | trans }}

        {% endfor %}
 </div>
{% endblock %}


{% block pagination %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}