{{ form_start(form) }}
{{ form_errors(form) }}

<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, {'attr':{'class':'form-control'} }) }}
    {{ form_help(form.name) }}
</div>
<div class="form-group">
    {{ form_label(form.picture) }}
    {{ form_errors(form.picture) }}
    {{ form_widget(form.picture, {'attr':{'class':'form-control'}}) }}
    {{ form_help(form.picture) }}
</div>
<div class="form-group">
    {{ form_label(form.href) }}
    {{ form_errors(form.href) }}
    {{ form_widget(form.href, {'attr': {'class': 'form-control'}}) }}
    {{ form_help(form.href) }}
</div>
<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows' : 8}}) }}
    {{ form_help(form.description) }}
</div>
<div class="form-group">
    <button class="btn">{{ button_label| default( 'Сохранить' ) }}</button>
</div>
{{ form_end(form) }}
