{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <h1>{{ 'Edit User' | trans }}</h1>
    </div>
    <div class="col-sm-12">
        {{ form_start(form, {'attr' : {'id' : 'edit_user_form'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.username) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr':{'class':'form-control'}}) }}
            {{ form_help(form.username) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
            {{ form_help(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.userage) }}
            {{ form_errors(form.userage) }}
            {{ form_widget(form.userage, {'attr': {'class': 'form-control'}}) }}
            {{ form_help(form.userage) }}
        </div>
        <div class="form-group">
            {{ form_label(form.gender) }}
            {{ form_errors(form.gender) }}
            {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
            {{ form_help(form.gender) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.isActive, {'value': app.user.isActive}) }}
            {{ form_help(form.isActive) }}
        </div>
       <div class="form-group">
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'hidden':'hidden', 'value': app.user.password}}) }}
            {{ form_help(form.plainPassword.first) }}
        </div>
        <div class="form-group">
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'hidden':'hidden', 'value': app.user.password}}) }}
            {{ form_help(form.plainPassword.second) }}
        </div>
        <button type="submit" class="btn btn-primary">{{ 'Update' | trans }}</button>
        {{ form_end(form) }}
       {# {{ include('user/_form.html.twig', {'button_label': 'Update' | trans}) }}#}

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('user_index') }}">back to list</a>

        {{ include('user/_delete_form.html.twig') }}

        {% endif %}
    </div>
{% endblock %}
