{% extends 'base_oneside.html.twig' %}

{% block title %}{{ 'User index' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'User index' | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'Username' | trans }}</th>
                <th>{{ 'Email' | trans }}</th>
                {#<th>{{ 'UserPassword' | trans }}</th>#}
                <th>{{ 'IsActive' | trans }}</th>
                <th>{{ 'IsAdmin' | trans }}</th>
                <th>{{ 'Age of user' | trans }}</th>
                <th>{{ 'Gender of user' | trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                {#<td>{{ user.password }}</td>#}
                <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
                <td>{{ user.userage }}</td>
                <td>{{ user.gender }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">{{ 'show' | trans }}</a><br>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">{{ 'edit' | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">{{ 'Create new user' | trans }}</a>
{% endblock %}
