{% extends 'baseadd.html.twig' %}

{% block title %}{{ 'User' | trans }}{% endblock %}
{% block body %}
    <h1>{{ 'User' | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Username' | trans }}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ 'Password' | trans}}</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>{{ 'IsActive' | trans}}</th>
                <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{{ 'IsActive' | trans}}</th>
                <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{{ 'Userage' | trans}}</th>
                <td>{{ user.userage }}</td>
            </tr>
            <tr>
                <th>{{ 'Gender' | trans}}</th>
                <td>{{ user.gender }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">{{ 'back to lis' | trans}}t</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">{{ 'edit' | trans}}</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}

